[Unit]
Description=uWSGI instance to serve helloworld
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/html/helloworld
Environment="PATH=/var/html/helloworld/"
ExecStart=/usr/local/bin/uwsgi --ini-paste-logged /var/html/helloworld/configs/helloworld.ini

[Install]
WantedBy=multi-user.target